MAIL_TELEGRAM_TOKEN=your telegram token from botfather
MAIL_TELEGRAM_CHAT=your telegram chat id, you can obtain it from getUpdates
# Optional (also settable via flags):
# MAIL_SENTRY_DSN=
# MAIL_DEFAULT_SUBJECT=Message
# MAIL_MAX_PAYLOAD_SIZE=20971520
# MAIL_SOCKET_TIMEOUT=10
