[tools]
go = "1.23.4"
golangci-lint = "1.60.1"

[tasks.install]
description = "Install dependencies"
run = "go mod download"

[tasks."lint:golangci-lint"]
description = "Run golangci-lint"
run = "golangci-lint run"

[tasks.lint]
description = "Run all linters"
depends = ["lint:*"]

[tasks."fmt:go"]
description = "Format Go code"
run = "go fmt ./..."

[tasks.fmt]
description = "Run all formatters"
depends = ["fmt:*"]

[tasks.test]
description = "Run tests"
run = "go test -v ./..."

[tasks."codegen:tidy"]
description = "Run go mod tidy"
run = "go mod tidy"

[tasks.codegen]
description = "Update generated code"
depends = ["codegen:*"]

[tasks.ci]
description = "Run CI checks"
depends = ["lint", "test"]

[tasks.build]
description = "Build binary"
run = "go build -o telegram-sendmail ./cmd/telegram-sendmail"
