name: Autorelease

on:
  push:
    branches: ["main", "master"]
    tags: ["v*"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  ci-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          experimental: true

      - run: mise run install

      - run: mise run codegen

      - name: Create Pull Request if Codegen Changed Files
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update generated code"
          title: "chore: update generated code"
          body: "Automated changes by running `mise run codegen`."
          branch: "codegen-update"
          base: "main"
          delete-branch: true

      - run: mise run ci

      - name: Release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        uses: softprops/action-gh-release@v1
